@page "/getintouch"

<div class="text-center my-5">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5"><i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
    <p>+90 123 45 67</p>
    <i class="fa fa-map-location-dot bg-secondary text-white p-3 rounded-5 my-3"></i>
    <p>Address</p>
    <i class="fa fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
    <p>info@mail.com</p>
    </div>
</div>